* {
    margin: 0;
    padding: 0;
    border: 0;
}

.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.verifyCategory {
    color: rgb(235, 94, 94);
    text-align: center;
    text-shadow: 3px 2px #260b18;
    padding: 10px;
}