* {
    margin: 0;
    padding: 0;
    border: 0;
}

.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

.verifyCategory {
    text-align: center;
}