* {
    margin: 0;
    padding: 0;
    border: 0;
}

.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.kitchen-buttons-container {
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
    padding: 20px;
}

.add-category-button,
.add-item-button,
.redirect-to-public-menu-button,
.logout-button {
    cursor: pointer;
    padding: 20px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
    width: 130px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.add-category-button:hover,
.add-item-button:hover,
.redirect-to-public-menu-button:hover,
.logout-button:hover {
    color: white;
    background-color: #421429;
}

@media (max-width: 510px) {

    .add-category-button,
    .add-item-button,
    .redirect-to-public-menu-button,
    .logout-button {
        width: 100%;
    }
}