* {
    margin: 0;
    padding: 0;
    border: 0;
}

.menu-category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.menu-category-container img {
    border-radius: 10px;
    height: 280px;
}