* {
    margin: 0;
    padding: 0;
    border: 0;
}

.category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

.menu-title {
    text-align: left;
    padding: 20px;
}