.add-category-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.add-category-modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.add-category-modal-container h2 {
    text-align: left;
    font-size: 28px;
    padding: 10px;
    color: #333;
}

.add-category-modal-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.add-category-modal-input-container input {
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0, 0, 0, 0.9);
    transition: border 0.3s ease;
}

.add-category-modal-input-container input:focus {
    border-color: #7a2137;
    outline: none;
}

.add-category-modal-input-container label {
    padding: 9px;
    color: #242424;
    font-weight: 600;
    font-size: 18px;
}

.add-category-modal-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.add-category-modal-buttons-container button {
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 48%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-category-modal-buttons-container button:hover {
    color: white;
    background-color: #421429;
}

@media (max-width: 1280px) {
    .add-category-modal-container {
        width: 40%;
    }

    .add-category-modal-input-container input {
        font-size: 15px;
    }
}

@media (max-width: 950px) {
    .add-category-modal-container {
        width: 50%;
    }

    .add-category-modal-input-container input {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .add-category-modal-container {
        width: 60%;
    }

    .add-category-modal-input-container input {
        font-size: 13px;
    }
}

@media (max-width: 580px) {
    .add-category-modal-container {
        width: 70%;
    }

    .add-category-modal-input-container input {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .add-category-modal-container {
        width: 85%;
    }

    .add-category-modal-container h2 {
        font-size: 20px;
    }

    .add-category-modal-input-container input {
        font-size: 11px;
    }

    .add-category-modal-buttons-container {
        gap: 10px;
        justify-content: center;
    }
}
