.delete-category-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.delete-category-modal-container {
    background-color: white;
    padding: 30px;
    width: 70%;
    max-width: 500px;
    max-height: 90%;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.delete-category-modal-container h2 {
    text-align: center;
    font-size: 28px;
    padding: 10px;
    color: #333;
    margin-bottom: 20px;
}

.delete-category-modal-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
}

.delete-category-modal-buttons-container button {
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-category-modal-buttons-container button:hover {
    color: white;
    background-color: #7a2137;
}

.delete-category-modal-buttons-container button:focus {
    outline: none;
    border: 2px solid #7a2137;
}

@media (max-width: 950px) {
    .delete-category-modal-container {
        width: 80%;
    }

    .delete-category-modal-container h2 {
        font-size: 24px;
    }
}

@media (max-width: 750px) {
    .delete-category-modal-container {
        width: 90%;
    }

    .delete-category-modal-container h2 {
        font-size: 22px;
    }

    .delete-category-modal-buttons-container {
        gap: 10px;
    }
}

@media (max-width: 450px) {
    .delete-category-modal-container {
        width: 95%;
    }

    .delete-category-modal-container h2 {
        font-size: 20px;
    }

    .delete-category-modal-buttons-container {
        align-items: center;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
}
