.edit-item-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.edit-item-container {
    background-color: white;
    padding: 20px;
    height: auto;
    width: 35%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-item-container h2 {
    text-align: left;
    font-size: 32px;
    padding: 10px;
}

.edit-item-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-item-container input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0, 0, 0, 0.9);
    font-size: 18px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.edit-item-container label {
    padding: 10px;
    color: #242424;
    font-weight: 600;
    font-size: 18px;
}

.edit-item-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-item-buttons-container button {
    cursor: pointer;
    padding: 20px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.edit-item-buttons-container button:hover {
    color: white;
    background-color: #421429;
}

@media (max-width: 1280px) {
    .edit-item-container {
        width: 30%;
    }

    .edit-item-input-container input {
        font-size: 13px;
    }
}

@media (max-width: 1110px) {
    .edit-item-container {
        width: 40%;
    }

    .edit-item-input-container input {
        font-size: 15px;
    }
}

@media (max-width: 950px) {
    .edit-item-container {
        width: 40%;
    }

    .edit-item-input-container input {
        font-size: 13px;
    }
}

@media (max-width: 850px) {
    .edit-item-container {
        width: 45%;
    }

    .edit-item-input-container input {
        font-size: 13px;
    }
}

@media (max-width: 750px) {
    .edit-item-container {
        width: 50%;
    }

    .edit-item-input-container input {
        font-size: 11px;
    }
}

@media (max-width: 580px) {
    .edit-item-container {
        width: 60%;
    }

    .edit-item-input-container input {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .edit-item-container {
        width: 80%;
    }

    .edit-item-container h2 {
        font-size: 20px;
    }

    .edit-item-input-container input {
        font-size: 11px;
    }

    .edit-item-buttons-container {
        gap: 10px;
        justify-content: center;
    }
}
