.edit-category-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.edit-category-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.edit-category-container h2 {
    text-align: left;
    font-size: 28px;
    padding: 10px;
    color: #333;
}

.edit-category-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.edit-category-input-container input {
    padding: 12px;
    border: 2px solid #ccc;
    color: #333;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: border 0.3s ease;
}

.edit-category-input-container input:focus {
    border-color: #7a2137;
    outline: none;
}

.edit-category-input-container label {
    color: #242424;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.edit-category-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.edit-category-buttons-container button {
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 48%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-category-buttons-container button:hover {
    color: white;
    background-color: #421429;
}

.edit-category-image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.edit-category-image-preview img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}

.edit-category-image-preview button {
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 500;
    background-color: #ff4d4d;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.edit-category-image-preview button:hover {
    background-color: #ff1a1a;
}

@media (max-width: 700px) {
    .edit-category-container {
        width: 85%;
        padding: 20px;
        max-width: 90%;
        height: auto;
    }

    .edit-category-container h2 {
        font-size: 24px;
    }

    .edit-category-input-container input {
        font-size: 14px;
    }

    .edit-category-input-container label {
        font-size: 14px;
    }

    .edit-category-buttons-container button {
        padding: 12px 16px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .edit-category-container {
        width: 85%;
        max-width: 95%;
        padding: 15px;
    }

    .edit-category-container h2 {
        font-size: 20px;
    }

    .edit-category-input-container input {
        font-size: 12px;
    }

    .edit-category-input-container label {
        font-size: 12px;
    }

    .edit-category-buttons-container button {
        padding: 10px 12px;
        font-size: 12px;
    }
}
