.add-item-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-item-modal-container {
    background-color: white;
    padding: 20px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-item-modal-container h2 {
    padding: 10px;
}

.select-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-item-modal-input-container h2 {
    text-align: left;
    font-size: 32px;
    padding: 10px;
}

.add-item-modal-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-item-modal-input-container select {
    padding: 12px;
    border: 2px solid #242424;
    border-radius: 12px;
    font-size: 17px;
}

.add-item-modal-input-container input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    border-radius: 12px;
    font-size: 17px;
}

.add-item-modal-input-container label {
    padding: 9px;
    color: #242424;
    font-weight: 600;
    font-size: 18px;
}

.add-item-modal-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-item-modal-buttons-container button {
    cursor: pointer;
    padding: 20px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.add-item-modal-buttons-container button:hover {
    color: white;
    background-color: #421429;
}