.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #421429;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.category-card img {
    border-radius: 19px;
    width: 250px;
    height: 230px;
}

.category-card h2 {
    color: #e0dcdd;
    text-shadow: 3px 2px #260b18;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.category-card-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    gap: 10px;
}

.kitchen-update-category-button {
    cursor: pointer;
    padding: 20px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
}

.kitchen-update-category-button:hover {
    color: white;
    background-color: #260b18;
}

.kitchen-delete-category-button {
    cursor: pointer;
    padding: 20px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 500;
}

.kitchen-delete-category-button:hover {
    color: white;
    background-color: #260b18;
}

@media (max-width: 1024px) {
    .category-card {
        width: 30%;
    }

    .category-card img {
        width: 100%;
        height: 280px;
    }

    .category-card h2 {
        font-size: 20px;
        width: 100%;
    }

    .update-category-button {
        padding: 10px;
    }

    .delete-category-button {
        padding: 10px;
    }
}

@media (max-width: 900px) {
    .category-card {
        width: 30%;
    }

    .category-card img {
        width: 100%;
        height: 230px;
    }

    .category-card h2 {
        font-size: 20px;
        width: 100%;
    }

    .update-category-button {
        padding: 10px;
    }

    .delete-category-button {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .category-card {
        width: 30%;
    }

    .category-card img {
        width: 100%;
        height: 200px;
    }

    .category-card h2 {
        font-size: 20px;
        width: 100%;
    }

    .update-category-button {
        padding: 10px;
    }

    .delete-category-button {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .category-card {
        width: 30%;
    }

    .category-card img {
        width: 100%;
        height: 140px;
    }

    .category-card h2 {
        font-size: 20px;
        width: 100%;
    }

    .update-category-button {
        padding: 10px;
    }

    .delete-category-button {
        padding: 10px;
    }
}

@media (max-width: 455px) {
    .category-card {
        flex-direction: row;
        width: 100%;
    }

    .category-card h2 {
        top: 10px;
        left: 10px;
        width: 50%;
    }

    .category-card img {
        width: 50%;
        height: 170px;
        padding: 10px;
    }

    .category-card-buttons {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .kitchen-update-category-button {
        padding: 25px;
    }

    .kitchen-delete-category-button {
        padding: 25px;
    }
}