.menu-item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #210a14;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.menu-item-card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 230px;
    object-fit: cover;
}

.menu-item-card h2 {
    color: #e0dcdd;
    text-shadow: 3px 2px #260b18;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.menu-item-card-description {
    color: #e0dcdd;
    text-shadow: 1px 1px #260b18;
    overflow-wrap: break-word;
    max-width: 20ch;
    padding: 10px;
}

.menu-item-card-price {
    color: #e0dcdd;
    text-shadow: 1px 1px #260b18;
    overflow-wrap: break-word;
    max-width: 20ch;
    padding-bottom: 10px;
}

@media (max-width: 1024px) {
    .menu-item-card {
        width: 30%;
    }

    .menu-item-card img {
        width: 100%;
        height: 280px;
    }

    .menu-item-card h2 {
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .menu-item-card {
        width: 30%;
    }

    .menu-item-card img {
        width: 100%;
        height: 230px;
    }

    .menu-item-card h2 {
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .menu-item-card {
        width: 30%;
    }

    .menu-item-card img {
        width: 100%;
        height: 200px;
    }

    .menu-item-card h2 {
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .menu-item-card {
        width: 30%;
    }

    .menu-item-card img {
        width: 100%;
        height: 140px;
    }

    .menu-item-card h2 {
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .menu-item-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto;
        position: unset;
        width: 100%;
    }

    .menu-item-card img {
        width: 150px;
        height: 140px;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        padding: 10px;
        border-radius: 20px;
    }

    .menu-item-card h2 {
        font-size: 20px;
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        color: #e0dcdd;
        text-shadow: 3px 2px #260b18;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background-color: unset;
        border-radius: 8px;
        position: unset;
    }

    .menu-item-card-description {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 10px;
    }

    .menu-item-card-price {
        text-align: left;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        color: #e0dcdd;
        text-shadow: 1px 1px #260b18;
        padding-bottom: 10px;
    }
}
