* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Fira Code", serif;
}

body {
  background-color: #551c36;
}

.header {
  background-color: #421429;
  border-bottom: 3px solid #551c36;
  padding: 1.5vh;
}

.header h1 {
  color: #e0dcdd;
  font-size: 4vh;
}