* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Fira Code", serif;
}

body {
  background-color: #e0dcdd;
}

.header {
  background-color: black;
  border-bottom: 3px solid rgb(31, 30, 30);
  padding: 1.5vh;
}

.header h1 {
  color: #e0dcdd;
  font-size: 25px;
}